
      .table1{
                border-collapse:collapse;
                        margin-left: 1%;
             } 
            .table1, .table1 td, .table1 th {
	 border: 1px solid black;
                 padding: 5px;
             }
             .table1 th {
                  background-color: #4CAF50;
                  color: white;
             }