body {
      background-color: white;
     }

audio:focus{
  box-shadow: 0 0 3pt 2pt grey;
  outline: none;
}

.display{
	font-size: 200%;
	position: fixed;
	top: 82%;
	left: 30%;
}

.center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.color{
	color:red;
}



.button{
	transition-duration: 0.5s;
}

.button:hover{
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:focus{
  box-shadow: 0 0 3pt 2pt red;
  outline: none;
}

.buttonM {
  background-color: white;
  border: 2px solid #4CAF50;
  color: black;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
/* .buttonM:hover { */
  /* background-color: #4CAF50; */
  /* color: white; */
  
/* } */
.buttonM:focus{
  box-shadow: 0 0 3pt 2pt #4CAF50;
  outline: none;
}

.buttonF {
  background-color: white;
  border: 2px solid #fc8003;
  color: black;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
/* .buttonF:hover { */
  /* background-color: #fc8003; */
  /* color: white; */
/* } */

.buttonF:focus{
  box-shadow: 0 0 3pt 2pt #fc8003;
  outline: none;
}



.buttonC {
  background-color: white;
  border: 2px solid #0362fc;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.buttonC:hover {
  background-color: #0362fc;
  color: white;
  
}

.buttonC:focus{
  box-shadow: 0 0 3pt 2pt #0362fc;
  outline: none;
}



.buttonMale {
  background-color: white;
  border: 2px solid Black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 160px;
  
}

.buttonMale:hover {
  background-color: Black;
  color: white;
}

.buttonMale:focus{
  box-shadow: 0 0 3pt 2pt Black;
  outline: none;
}




.buttonFemale {
  background-color: white;
  border: 2px solid #9b42f5;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 160px;
}
.buttonFemale:hover {
  background-color: #9b42f5;
  color: white;
  
}

.buttonFemale:focus{
  box-shadow: 0 0 3pt 2pt #9b42f5;
  outline: none;
}

.inputM{
	
}

.inputF{
	
	
}

.explanation{
	position: fixed;
	top: 58%;
	left: 71%;

}